img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 370px;
  width: 70%;
  border: .1rem solid white;
  align-content: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: italic bolder;
  font-size: 19px;
}

#heading {
  text-align: center;
  text-shadow: .1rem .1rem #00ff55;
  border: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-style: italic;
  background-color: #e6b800;
}

#sub-heading {
  text-align: center;
  text-shadow: .1rem .1rem rgb(118, 124, 118);
  font-family: Impact;
  font-style: oblique;
  background-color: black;
}

/* remove default underline */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* mouse over link */
a:hover {
    color: rgb(16, 73, 8);
}

footer {
  text-align: center;
  font-family: Courier;
  font-size: 14px;
  background-color: grey;
}

